/* index.css */

/* A simple CSS reset for margins, paddings, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a default font to the entire app */
  body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #c8c8c8;
  }
  
  /* Ensure the app container takes full height */
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }
  