/* SwirlyLoading.css */
.swirly-canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;

  width: 100vw;
  height: 100vh;

  /* background is drawn by the script, but you can set a fallback: */
  background: #000;
}
